<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Death Count</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar [(ngModel)]="name" (ionChange)="ngOnInit($event)"
			placeholder="Search by Name (e.g Walter White)"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngFor="let death of deaths | async" class="movie-card">

		<ion-item class="movie-info" lines="none">
			<ion-icon name="skull-outline" slot="start"></ion-icon>
			Name: {{ death.name }}
		</ion-item>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="person-outline" slot="start"></ion-icon>
			Death Count: {{ death.deathCount }}
		</ion-item>
	</ion-card>

</ion-content>
