<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ eposide?.title }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteepisode()" *ngIf="isFavourite">
				<ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteepisode()" *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content *ngIf="episode">

	<ion-card *ngIf="episode" class="movie-card">
		<ion-card-header>Season {{ episode.season }} : Episode {{ episode.episode }}</ion-card-header>

		<ion-item class="movie-info">
			<ion-icon name="film-outline" slot="start"></ion-icon>
			Title: {{ episode.title }}
		</ion-item>

		<ion-item class="movie-info">
			<ion-icon name="calendar-outline" slot="start"></ion-icon>
			Release Date: {{ episode.air_date }}
		</ion-item>

		<ion-item class="movie-info">
			<ion-icon name="people-outline" slot="start"></ion-icon>
			<p>Characters: {{ episode.characters }}</p>
		</ion-item>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="tv-outline" slot="start"></ion-icon>
			Serie: {{ episode.series }}
		</ion-item>

	</ion-card>

</ion-content>