<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ character?.name }}</ion-title>
		<ion-buttons slot="end">
				<ion-button (click)="unfavouritecharacter()" *ngIf="isFavourite">
				<ion-icon name="star" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouritecharacter" *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character" class="movie-card">


    <ion-img style="align-items: center width: 250px; height: 250px;"src="{{character.img}}"></ion-img>


	
		<ion-item class="movie-info" lines="none">
			<ion-icon name="person-outline" slot="start"></ion-icon>
			Name: {{ character.name }}
		</ion-item>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="gift-outline" slot="start"></ion-icon>
			Birthday: {{ character.birthday }}
		</ion-item>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="briefcase-outline" slot="start"></ion-icon>
			Occupation: {{ character.occupation }}
		</ion-item>

		<ion-item class="movie-info" lines="none">
			<ion-icon name="pulse-outline" slot="start"></ion-icon>
			Status: {{ character.status }}
		</ion-item>

        		<ion-item class="movie-info" lines="none">
			<ion-icon name="film-outline" slot="start"></ion-icon>
			Appearances in Season: {{ character.appearance }}
		</ion-item>

        		<ion-item class="movie-info" lines="none">
			<ion-icon name="body-outline" slot="start"></ion-icon>
			Portrayed by: {{ character.portrayed }}
		</ion-item>

        		<ion-item class="movie-info" lines="none">
			<ion-icon name="videocam-outline" slot="start"></ion-icon>
			Series: {{ character.category }}
		</ion-item>
        
	</ion-card>

</ion-content>