<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Characters</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let character of characters" (click)="openDetails(character)">
			<ion-avatar slot="start">
				<img src="{{ character.img }}">
            </ion-avatar>
				<ion-label>
					<h2>{{ character.name }}</h2>
					<p>{{ character.status }}</p>
				</ion-label>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="20%" id="infinite-scroll" (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>